body{
  color: #3b393b;
  font-size: 12px;
  background-color: #517cb2;
  user-select: none;
}
.window-container{
  position: relative;
  margin: 50px auto;
  width: 700px; height: 500px;
  background-color: white;
  box-shadow: 0 1px 2px #3e5e84;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.topbar{
  position: absolute;
  height: 53px; width : 700px;
  border-top-left-radius: 4px; border-top-right-radius: 4px;
  background: linear-gradient(#e8e6e8, #d1cfd1);
}
.topbar-row-1{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 686px; height: 13px;
  padding: 6px;
}
.left-buttons{
  width: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-buttons div{
  display: inline-block;
  width: 12px; height: 12px;
  border-radius: 15px;
}
.left-buttons .close-button{
  box-shadow: 0 0 1px #bf3635 inset;
  background-color: #fc615d;
}
.left-buttons .min-button{
  box-shadow: 0 0 1px #c88514 inset;
  background-color: #fecb35;
}
.left-buttons .max-button{
  box-shadow: 0 0 1px #188624 inset;
  background-color: #34c749;
}
.topbar-title{
  top: 7px; left: 60px;
  flex: 1;
  text-align: center;
  font-size: 13px;
}
.topbar-row-2{
  position: relative;
  height: 13px;
  padding: 6px;
}
.forward-back{
  color: #c6c6c6;
  position: absolute;
  top: 0px;
  width: 52px;
}
 .back-button, .forward-button{
  display: inline-block;
  width: 24px; height: 21px;
  background-color: #f2f2f2;
  border: 1px solid #c1bfc1;
  border-radius: 5px;
  line-height: 21px;
  text-align: center;
}
.display-modes{
  
}
.search-field{
  position: absolute;
  top: 1px; right: 7px;
  background-color: white;
  height: 19px; width: 44px;
  padding: 0 68px;
  border: 1px solid #cbc9cb;
  border-radius: 5px;
  outline: none;
  font-size: 13px;
  transition-duration: .25s;
  box-sizing: content-box;
}
::placeholder{
  color: #aaaaaa;
}
.search-field:focus{
  width: 160px;
  padding: 0 10px;
  top:0;
  text-align: left;
  border: 2px solid #95bce6;
}
.main-content{
  position: absolute;
  top: 53px;
  height: 446px; width: 700px;
  border-top: 1px solid #adadad;
  border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
}
.sidebar{
  position: absolute;
  top: 0px; left: 0px;
  width: 133px;
  height: 446px;
  background-color: #f6f6f6;
  border-right: 1px solid #d4d4d4;
  border-bottom-left-radius: 4px;
}
.sidebar h5{
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding: 8px 0 4px 8px;
  color: #777777;
}
.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar li{
  padding-left: 15px;
  height: 23px;
  line-height: 23px;
}
.content-list{
  position: absolute;
  top: 0px; left: 134px;
  width: 566px;
}
.content-list table{
  border-collapse: collapse;
  width: 566px;
}
.content-list thead tr{
  height: 22px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #c5c5c5;
}
.content-list thead th {
  padding: 2px 0 0 5px;
  font-weight: normal;
  text-align: left;
}
.content-list tbody tr{
  height: 19px;
}
.content-list tbody td{
  padding-left: 7px;
}
.content-list tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
.content-list tbody tr span{
  font-size: 10px;
  line-height: 13px;
  color: #8c8c8c;
}
