@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html{
  height: 100%;
  overflow: hidden;
}
body{
  color: #3b393b;
  font-size: 11.5px;
  background-color: #517cb2;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}
.window-container{
  position: relative;
  margin: 15vh auto;
  width: 55vw; height: 70vh;
  min-height: 515px; min-width: 666px;
  background-color: white;
  box-shadow: 0 1px 5px #284762;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 53px 1fr;
}
.window-container:hover{
  cursor: default;
}
.topbar{
  grid-row: 1/2;
  grid-column: 1/3;
  border-top-left-radius: 5px; border-top-right-radius: 5px;
  background: linear-gradient(#e8e6e8, #cccacc);
  border-bottom: 1px solid #adadad;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-buttons{
  position: absolute;
  top: 6px; left: 6px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-buttons div{
  width: 12px; height: 12px;
  border-radius: 12px;
}
.left-buttons .close-button{
  box-shadow: 0 0 1px #662829 inset;
  background-color: #fc615d;
}
.left-buttons .min-button{
  box-shadow: 0 0 1px #544317 inset;
  background-color: #fecb35;
}
.left-buttons .max-button{
  box-shadow: 0 0 1px #123c18 inset;
  background-color: #34c749;
}
.topbar-title{
  flex:1;
  margin-top: 6px;
  text-align: center;
  font-size: 13px;
}
.topbar a{
  display: inline-block;
  width: 24px; height: 21px;
  border: 1px solid #c1bfc1;
  border-radius: 5px;
  text-align: center;
}
.forward-back{
  position: absolute;
  top: 25px; left: 6px;
  font-size: 20px;
  line-height: 18px;
}
.upload-botton{
  position: absolute;
  top: 25px; left: 66px;
  font-size: 16px;
  line-height: 20px;
}
.topbar .inactive{
  color: #c6c6c6;
  background-color: #f2f2f2;
}
.topbar .active{
  color: #808080;
  background-color: #f2f2f2;
}
.topbar .active:active{
  background-color: #e5e5e5;
}
.view-mode-nav{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 25px; left: 182px;
  width: 80px; height: 21px;
  border: 1px solid #c1bfc1;
  border-radius: 5px;
}
.view-mode-nav div{
  flex: 1;
  width: 24px; height: 21px;
  border-left: 1px solid #c1bfc1;
}
.view-mode-nav div:nth-child(1){
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: none;
}
.view-mode-nav div:nth-child(3){
  padding-right: 2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.svg-div{
  background-color: #f2f2f2;
}
.svg-div:active{
  background-color:#dcdcdc;
}
.svg-div-clicked{
  background-color: #727172;
}
.svg-div-clicked:active{
  background-color: #545354;
}
.svg-div-clicked .topbar-icon{
  color: white;
}
.topbar-icon {
  transform: translate(1px, 5px);
  display: block;
  margin: auto;
  vertical-align: center;
  position: relative;
  height: 12px;
  stroke-width: 2px;
  stroke: currentColor;
  fill: none;
  color: #737373;
}
.search-field{
  position: absolute;
  right: 6px; top: 25px;
  background-color: white;
  height: 18px; width: 140px;
  padding: 0 10px;
  border: 1px solid #cbc9cb;
  border-radius: 5px;
  outline: none;
  font-size: 13px;
}
.search-field::placeholder{
  transition-duration: .25s;
  text-align: center;
  color: #aaaaaa;
}
.search-field:focus{
  top: 23px;
  border: 3px solid #95bce6;
}
.search-field:focus::placeholder{
  transform: translateX(-48px)
}
.sidebar{
  grid-column:1/2;
  grid-row: 2/3;
  background-color: #f6f6f6;
  border-right: 1px solid #dfdfdf;
  border-bottom-left-radius: 5px;
}
.sidebar h5{
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  padding: 8px 0 4px 8px;
  color: #777777;
}
.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar li{
  border: 2px solid #f6f6f6;
  box-sizing:border-box;
  height: 25px;
  line-height: 24px;
  margin: 2px 0;
  padding-left: 15px;
}
.sidebar img{
  mix-blend-mode: multiply;
  transform: translateY(3px);
  height: 16px;
  padding-right: 5px;
}
.content-list{
  grid-row: 2/3;
  grid-column:2/3;
  overflow: hidden;
  padding-bottom: 23px;
  border-bottom-right-radius: 5px;
}
.header-table{
  background-color: #f0f0f0;
  height: 23px;
  border-bottom: 1px solid #c5c5c5;
}
.header-table th{
  padding-top: 2px;
  height: 20px;
  position: relative;
  padding-left: 10px;
  font-weight: normal;
  background-color: #f0f0f0;
}
.header-table th:active{
  background-color: #eaeaea;
}
.header-table table, .body-table table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.header-table th .header-border{
  position:absolute;
  top: 3px; right:0px;
  height: 17px; width: 15px;
  border-right: 1px solid #d8d8d8;
}
.header-table th:nth-child(4) .header-border{
  border-right: none;
}
.header-table th .header-border svg{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  font-size: 8px;
}
.body-table{
  height: 100%;
  overflow: scroll;
}
.body-table td{
  position: relative;
  padding-left: 10px;
  align-content: center;
}
.body-table td input{
  position: absolute;
  padding-left: 2px;
  top: 2px; left: 10px;
  outline: none;
  border: none;
  height: 14px;
  box-shadow: 0 0 0 4px rgba(40, 131, 230, .5);
  border-radius: 1px;
  background-color: #b3d8fd;
  line-height: 15px;
}
.body-table td input::placeholder{
  font-size:11px;
  color: black;
}
.body-table tr{
  vertical-align: bottom;
  border: 2px solid white;
  color: #8c8c8c;
  height: 20px;
}
.body-table tr:nth-child(1){
  border: 2px solid rgba(0,0,0,0);
}
.body-table tr:nth-child(even){
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
}
.header-table th:nth-child(1), .body-table td:nth-child(1){
  color: #3b393b;
  width: 55%;
}
.header-table th:nth-child(2), .body-table td:nth-child(2){
  width: 20%;
}
.header-table th:nth-child(3,4), .body-table td:nth-child(3,4){
  width: 10%;
}
.column-view-container{
  grid-column: 2/3;
  grid-row: 2/3;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
  border-bottom-right-radius: 5px;
}

.column-view-container .body-table{
  padding-right: 2px;
  position: absolute;
  width: 30%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.context-menu-target{
  flex:1;
  width: 100%;
}
.column-view-container .body-table tr{
  width: 30%;
  background-color: rgba(0,0,0,0);
  border: 2px solid rgba(0,0,0,0);
}
.column-view-container .body-table td{
  max-width: 0;
}
.column-view-container .body-table td div{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 14px;
}
.column-view-preview{
  margin-left: 2px;
  position:absolute;
  text-align: center;
  width: 69%;height: 100%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow: scroll;
}
.preview-container{
  flex: 1;
  padding: 25px 25px 0 25px;
}
.cv-image-preview{
  border: 1px solid #e0e0e0;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.cv-audio-preview{
  position: relative;
  margin: auto;
  width: 60%;
}
.play-button{
  display: none;
  border: 3px solid white;
  background-color: rgba(20,20,20,.85);
  box-shadow: 0 0 10px 2px rgba(20,20,20,.85);
  width: 30px; height: 30px;
  border-radius: 50px;
  position: absolute;
  top: 50%; left: 50%;
  transform:translate(-15px, -15px);
}
.play-button svg{
  text-align: center;
  margin: 2px;
  width: 26px; height: 26px;
  border-radius: 50px;
  color: white;
}
.play-button:hover{
  cursor: pointer;
}
#play-svg{
  display: block;
  transform: translateX(2px);
}
#pause-svg{
  display: none;
}
.cv-audio-preview img{
  border: 1px solid #e0e0e0;
  width: 100%;
}
.cv-audio-preview:hover .play-button{
  display:block;
}
#pdf-container{
  position: relative;
  margin:auto;
  width: 80%;
}
#pdf-container canvas{
  margin: auto;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.pdf-nav{
  width: 85px; height:0px;
  transform: translateY(-60px);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pdf-nav .pdf-button{
  color: #dadada;
  display: none;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  border: 3px solid #dadada;
  background-color: rgba(20,20,20,.85);
  box-shadow: 0 0 5px 1px rgba(20,20,20,.85);
  border-radius: 30px;
  width: 30px; height:30px;
}
#pdf-container:hover .pdf-button{
  display: block;
}
.pdf-button:active{
  background-color: rgba(20,20,20,.95);
  color: #a7a7a7;
}
.cv-file-info{
  flex: 1;
  max-height: 150px;
  margin: auto;
}
.cv-file-info h3{
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
.cv-file-info p{
  color: #9f9f9f;
  margin: 2px;
}
.cv-file-info table{
  margin: auto;
}
.cv-file-info td:nth-child(1){
  padding-right: 5px;
  text-align: right;
  color: #9f9f9f;
}
.cv-file-info td:nth-child(2){
  text-align: left;
}
.icon-view-window{
  overflow: scroll;
}
.icon-view-wrapper{
  margin: auto;
}
.file-icon{
  display: inline-block;
  margin: 15px;
  height: 100px; width: 100px;
  text-align: center;
  vertical-align: bottom;
  box-sizing: border-box;
  outline: none;
}
.icon-zone{
  margin: auto;
  width: 70px; height: 70px;
  border-radius: 3px;
}
.icon-zone img{
  margin: 5px auto;
  height: 60px;
}
.file-icon span{
  color: black;
  margin-top: 5px;
  display: inline-block;
  border: 3px solid transparent;
  box-sizing: border-box;
  max-width: 100px;
  border-radius: 3px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.file-icon input{
  border: none;
  outline: none;
}
.active-file-icon .icon-zone{
  background-color: #e0e0e0;
}
.file-icon:hover{
  cursor: default;
}
.active-file-icon span{
  cursor: default;
  color: white;
  border: 3px solid #116cd6;
  background-color: #116cd6;
}
.context-menu, .secondary-context-menu{
  border-radius: 4px;
  box-shadow: 0 1px 6px #4a4a4a;
  background: rgba(240,240,240,.99);
  position: fixed;
}
.context-menu ul, .secondary-context-menu ul{
  padding: 1px 0;
  margin: 0;
  list-style: none;
}
.context-menu hr, .secondary-context-menu hr{
  border: none;
  border-bottom: 1px solid #dfdfdf;
}
.context-menu li, .secondary-context-menu li{
  color: #3d3d3d;
  width: 100px;
  font-size: 13px;
  padding: 2px 10px 2px 15px;
  margin: 4px 0;
}
.context-menu li:hover, .secondary-context-menu li:hover{
  background-color: #5296fa;
  color: white;
}
.context-menu svg {
  font-size: 15px;
  float: right;
}
.secondary-context-menu li{
  padding: 2px 15px 2px 5px;
}
.secondary-context-menu span{
  padding-left: 2px;
}
.secondary-context-menu svg{
  transform: translateY(-1px);
}
