@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html{
  height: 100%;
  overflow: hidden;
}

body{
  color: #3b393b;
  font-size: 12px;
  background-color: #517cb2;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

.window-container{
  position: relative;
  margin: 15vh 15vw;
  width: 70vw; height: 70vh;
  background-color: white;
  box-shadow: 0 1px 5px #284762;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 53px auto;
}
.topbar{
  grid-row: 1/2;
  grid-column: 1/3;
  border-top-left-radius: 5px; border-top-right-radius: 5px;
  background: linear-gradient(#e8e6e8, #d1cfd1);
  border-bottom: 1px solid #adadad;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-buttons{
  position: absolute;
  top: 6px; left: 6px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-buttons div{
  width: 12px; height: 12px;
  border-radius: 12px;
}
.left-buttons .close-button{
  /* border: 1px solid #bf3635; */
  box-shadow: 0 0 1px #662829 inset;
  background-color: #fc615d;
}
.left-buttons .min-button{
  /* border: 1px solid #c88514; */
  box-shadow: 0 0 1px #544317 inset;
  background-color: #fecb35;
}
.left-buttons .max-button{
  /* border: 1px solid #188624; */
  box-shadow: 0 0 1px #123c18 inset;
  background-color: #34c749;
}
.topbar-title{
  flex:1;
  margin-top: 6px;
  text-align: center;
  font-size: 13px;
}
.forward-back{
  position: absolute;
  top: 25px; left: 6px;
  color: #c6c6c6;
}
.back, .forward{
  display: inline-block;
  width: 24px; height: 21px;
  background-color: #f2f2f2;
  border: 1px solid #c1bfc1;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.view-options{
  position: absolute;

  left: 150px; top: 25px;
  width:96px; height: 21px;
  background-color: #fdfcfd;
  border: 1px solid #c1bfc1;
  background-color: #fcfbfc;
  border-radius: 5px;
}
.view-options div{
  padding: 3px;
  height: 4px;

}
.view-options svg{
  align-self: center;
  font-size: 10px;
  color: #525252;

}
.search-field{
  position: absolute;
  right: 6px; top: 25px;
  background-color: white;
  height: 18px; width: 140px;
  padding: 0 10px;
  border: 1px solid #cbc9cb;
  border-radius: 5px;
  outline: none;
  font-size: 13px;
}
.search-field::placeholder{
  transition-duration: .25s;
  text-align: center;
  color: #aaaaaa;
}
.search-field:focus{
  top: 23px;
  border: 3px solid #95bce6;
}
.search-field:focus::placeholder{
  transform: translateX(-48px)
}
.sidebar{
  grid-column:1/2;
  grid-row: 2;
  background-color: #f6f6f6;
  border-right: 1px solid #dfdfdf;
  border-bottom-left-radius: 5px;
}
.sidebar h5{
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  padding: 8px 0 4px 8px;
  color: #777777;
}
.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar li{
  padding-left: 15px;
  height: 23px;
  line-height: 23px;
}
.content-list{
  grid-row: 2/3;
  grid-column:2/3;
  overflow: hidden;
  padding-bottom: 23px;
  border-bottom-right-radius: 5px;
}
.header-table{
  background-color: #f0f0f0;
  height: 23px;
  border-bottom: 1px solid #c5c5c5;
}
.header-table th{
  padding-top: 2px;
  height: 20px;
  position: relative;
  padding-left: 10px;
  font-weight: normal;
  background-color: #f0f0f0;
  text-overflow: clip;
  overflow: hidden;
}
.header-table th:active{
  background-color: #eaeaea;
}
.header-table table, .body-table table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.header-table th .header-border{
  position:absolute;
  top: 3px; right:0px;
  height: 17px; width: 15px;
  border-right: 1px solid #d8d8d8;
}
.header-table th:nth-child(4) .header-border{
  border-right: none;
}
.header-table th .header-border svg{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  font-size: 8px;
}
.body-table{
  height: 100%;
  overflow: scroll;
}
.body-table td{
  position: relative;
  padding-left: 10px;
  align-content: center;
}
.body-table td input{
  position: absolute;
  padding-left: 2px;
  top: 2px; left: 10px;
  outline: none;
  border: none;
  height: 14px;
  box-shadow: 0 0 0 4px rgba(40, 131, 230, .5);
  border-radius: 1px;
  background-color: #b3d8fd;
  line-height: 15px;
}
.body-table td input::placeholder{
  font-size:11px;
  color: black;
}
.body-table tr{
  vertical-align: bottom;
  border: 2px solid white;
  color: #8c8c8c;
  height: 20px;
}

.body-table tr:nth-child(1){
  border: 2px solid rgba(0,0,0,0);
}
.body-table tr:nth-child(even){
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
}
.header-table th:nth-child(1), .body-table td:nth-child(1){
  color: #3b393b;
  width: 55%;
}
.header-table th:nth-child(2), .body-table td:nth-child(2){
  width: 20%;
}
.header-table th:nth-child(3,4), .body-table td:nth-child(3,4){
  width: 10%;
}
.context-menu{
  border-radius: 4px;
  box-shadow: 0 1px 6px #4a4a4a;
  background: rgba(240,240,240,.95);
  position: fixed;
}

.context-menu ul{
  padding: 4px 0;
  margin: 0;
  list-style: none;
}
.context-menu hr{
  border: none;
  border-bottom: 1px solid #dfdfdf;
}
.context-menu li{
  font-size: 13px;
  padding: 2px 15px;
  margin: 4px 0;
}
.context-menu li:hover{
  background-color: #5296fa;
  color: white;
}
